.github/**
.vscode/**
bin/**
docs/**
scripts/**
src/**
test/**
node_modules/**
dist/test/**
dist/*.map
dist/*.vsix
.gitignore
esbuild.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsconfig.test.json
CONTRIBUTING.md
RELEASE.md
SECURITY.md
